/*
    A simple responsive grid system  

    Usage:
    <div class="grid">
        <div class="col half"></div>
        <div class="col half"></div>
    </div>  
*/
/* line 20, ../sass/grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/grid.scss */
#master-header > div {
  margin: 0 auto;
  max-width: 980px;
  *zoom: 1;
  padding: 20px 0;
}
/* line 32, ../sass/grid.scss */
#master-header > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 53, ../sass/grid.scss */
#master-header > div h1 {
  float: left;
  padding: 0 24px;
  width: 33.33%;
}
@media only screen and (max-width: 767px) {
  /* line 53, ../sass/grid.scss */
  #master-header > div h1 {
    /* Small Device Styles here */
    float: none;
    width: auto !important;
    padding: 0 !important;
  }
}
/* line 56, ../sass/grid.scss */
#master-header > div nav#primary {
  float: left;
  padding: 0 24px;
  width: 66.66%;
}
@media only screen and (max-width: 767px) {
  /* line 56, ../sass/grid.scss */
  #master-header > div nav#primary {
    /* Small Device Styles here */
    float: none;
    width: auto !important;
    padding: 0 !important;
  }
}
