/*
    Site or App Theme styles
*/
/* line 10, ../sass/screen.scss */
body {
  background-color: white;
}

/* line 14, ../sass/screen.scss */
#master-header {
  background-color: #0ca0c6;
  color: white;
}
/* line 17, ../sass/screen.scss */
#master-header h1 {
  color: white;
}

/* line 22, ../sass/screen.scss */
#master-footer {
  background-color: #0ca0c6;
  border-top: 3px #0ca0c6 solid;
  color: white;
}

/* line 28, ../sass/screen.scss */
h1, h2, h3 {
  color: #0ca0c6;
}

/* line 32, ../sass/screen.scss */
h1.section-heading {
  font-size: 23px;
  color: #808080;
}

/* line 61, ../sass/screen.scss */
nav#primary ul {
  float: right;
}
/* line 63, ../sass/screen.scss */
nav#primary ul li {
  float: left;
}
/* line 67, ../sass/screen.scss */
nav#primary a {
  color: #1e1e1e;
  background-color: #d0d0d0;
  text-decoration: none;
  display: block;
  padding: 12px 6px;
  margin: 0 4px;
  border-radius: 3px;
}
/* line 43, ../sass/screen.scss */
nav#primary a:hover {
  background-color: white;
}
/* line 71, ../sass/screen.scss */
nav#secondary a {
  color: #1e1e1e;
  background-color: #d0d0d0;
  text-decoration: none;
  display: block;
  padding: 10px;
  margin: 2px;
  text-align: center;
  border: 1px #0ca0c6 solid;
}
/* line 43, ../sass/screen.scss */
nav#secondary a:hover {
  background-color: white;
}
