@mixin button-base($margin: 2px, $padding: 10px) {
    color: $contrast-color;
    background-color: $base-color;
    text-decoration: none;
    display: block;
	padding:$padding;
	margin: $margin;
	&:hover {
        background-color: $highlight-color;
    }
}

@mixin square-button($margin: 2px, $padding: 10px) {
	@include button-base($margin, $padding);
    text-align: center;
    border: 1px $accent-color solid;
}

@mixin round-button($margin, $padding, $radius: 3px) {
    @include button-base($margin,12px 6px);
    border-radius: $radius;
}