/*
    Site or App Theme styles
*/
// Color variables
$base-color: #d0d0d0;
$accent-color: #0ca0c6;
$highlight-color: #FFF;
$contrast-color: #1e1e1e;

body {
  background-color: $highlight-color;
}

#master-header {
  background-color: $accent-color;
  color: $highlight-color;
  h1 {
    color: $highlight-color;
  }
}

#master-footer {
  background-color: $accent-color;
  border-top: 3px $accent-color solid;
  color: $highlight-color;
}

h1, h2, h3 {
  color: $accent-color;
}

h1.section-heading {
  font-size: 23px;
  color: #808080;
}

nav {
  &#primary {
    ul {
      float: right;
      li {
        float: left;
      }
    }
    a {
      background-color: $base-color;
      color: $contrast-color;
      display: block;
      border-radius: 3px;
      padding: 12px 6px;
      margin: 0 4px;
      text-decoration: none;
      &:hover {
        background-color: $highlight-color;
      }
    }
  }
  &#secondary a {
    color: $contrast-color;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: $base-color;
    margin: 2px;
    text-align: center;
    border: 1px $accent-color solid;
    &:hover {
      background-color: $highlight-color;
    }
  }
}

